@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: unbounded;
  src: url('../assets/fonts/Unbounded-VariableFont_wght.ttf');
}

* {
  font-family: unbounded;
}

.unbounded {
  font-family: unbounded;
}

body {
  background: #f1f2ee;
  overflow-x: hidden;
}

.h1div:hover .h1class {
  font-weight: 500;
}

.aboutLink::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #17191b;
  transition: 0.2s ease;
}

.aboutLink:hover::after {
  width: 100%;
}

.aboutLink:hover .graycube {
  background: #17191b;
}

.aboutLink:hover .blackcube {
  background: #878c8e;
}


.servicesLink::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #f1f2ee;
  transition: 0.2s ease;
}

.servicesLink:hover::after {
  width: 100%;
}

.servicesLink:hover .graycube {
  background: #f1f2ee;
}

.servicesLink:hover .whiteCube {
  background: #878c8e;
}

.footerButtons::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f1f2ee;
  bottom: -4px;
  position: absolute;
  left: 0;
}

.stackImg {
  aspect-ratio: 3/2;
  object-fit: contain;
  filter: grayscale(100%);
}

.logo {
  mix-blend-mode: color-burn;
}

@keyframes slider {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.AboutSlider {
  animation: 20s slider infinite linear;
}

.slideIn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: bottom;
  z-index: 999;
}

.slideOut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: top;
  z-index: 999;
}

.gradient {
  background: #17191b;
  background: linear-gradient(0deg, #17191b 25%, rgba(0, 212, 255, 0) 75%);
}

.gradient2 {
  background: #17191b;
  background: linear-gradient(90deg, #17191b 0%, rgba(0, 212, 255, 0) 50%, #17191b 100%);
}
