@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: unbounded;
  src: url('../assets/fonts/Unbounded-VariableFont_wght.ttf');
}

.unbounded{
  font-family: unbounded;
}

body{
  background: #f1f2ee;
  overflow-x: hidden;
}

.h1div:hover .h1class{
  font-weight: 500;
}